.container{

  max-width: 1440px;
  margin: 0 auto;
  

}
nav{
  position: fixed;
  left: 0;
    right: 0;
    top:0;
    z-index: 100;
}
.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(53, 53, 53, 0.7);
  padding: 1rem;
  color:white;
 
  
}
.navbar li div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  
}
.navbar-logo-section{
  position: absolute;
text-align: center;
font-size: 1.3rem;
margin-left: .4rem ;

}
.download-hover{
    
  position: relative;
 
  padding: .2rem;
  color: white;
  margin: 0 auto;
  left: 3rem;
  top:2.7rem;

 
}
.download-hover h5{
  background-color: rgba(53, 53, 53, 0.5);
  display: none;
}
.download-hover:hover{
  display: block;

}
h1{
  font-size: 1.5rem;
  font-weight: 700;
 
}
h3,h5{
  font-size: 1.5rem;
 
  font-family: 600;
  margin: auto 1rem;
}
/* .profile-logo{
  background-color: palevioletred;
  padding: .6rem;
  border-radius: 10rem;
  color: white;

} */
.profile-name{
  font-size: 1.2rem;
}
.poster-img-container{
  width: 100%;
  position: absolute;
}
.poster-img-container img{
  width: 100%;
  object-fit:fill;
  height: 500px;
}

.poster-img-content{
  position: relative;
  top: 9rem;
  left: 0;

   
    
}


/* search input section */

.search-and-input{
  display:flex;
  flex-direction:row;
   gap: 1.5rem;
  max-width: 600px;
border-radius: 12px;
  background-color: white;
  padding: 1.5rem;
}
.search-and-input input{
  border: none;
  margin-right: 1rem;
}

.zomato-big-logo,
.zomato-logo-des,
.search-and-input
{
 text-align: center;
  margin:  auto;
  margin-bottom: 1rem;


}
.zomato-big-logo{
  color: white;
  font-size: 5rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.zomato-logo-des{
  color: white;
  font-size: 1.5rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}



/* box section start here */

.section{
  margin-top: 20rem  ;
}

.box-wrapper{
  display: grid;
  grid-template-columns: repeat(3,350px);
  gap: 1.5rem;
 
  justify-content: center;
}
.box-wrapper .box{
  display: flex;
  flex-direction: column;
  border: 3px solid gainsboro;
  border-radius: 14px;
  margin: 0 2rem;
   

 
    
}
.box-wrapper .box:hover{
    scale: 1.1;
    transition: all .3s linear;
}

.box-wrapper .box .box-img img{
  border-radius: 14px;
  height: 200px;
  width: 100%;
  object-fit:cover;
   
 
}
.box-desc-wrapper{
  padding: 1.5rem;
  text-align: center;
  font-weight:700 ;
  font-size: 1.2rem;
 
}

/* collection */




.share-section{
  margin: 0 5rem;
  margin-top: 4rem ;
  
}
.collection-wrapper{
  text-align: center;

   margin: 4rem 5rem;
}
.collection-wrapper h1{
  font-size: 2rem;
  color: rgb(77, 74, 74);
  margin-bottom: 1.2rem;

}
.collection-des{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.collection-wrapper p{
  font-size: 1.5rem;
  font-weight: 800;
  color: gray;
  
}
.collection-wrapper .collection-more{
 
  font-size: 1.5rem;
  font-weight: 800;
  color: rgba(225, 18, 18, 0.615);
}
 /* collection box section */
 .collection-box-wrapper{
  /* display:flex;
  flex-direction: row;
  flex-wrap: wrap; */

  display: grid;
  grid-template-columns: repeat(4,1fr);
 margin: 0 2rem;
  gap: .4rem;
 }
.collection-box{
  position: relative;
  /* max-width:350px; */
  margin: 0 auto;
}

.collection-img img{
  height: 400px;
    width: 100%;
border-radius: 12px;
}
.collection-box-title{
  position: absolute;
  bottom: 10%;
  left: 0;
  right: 0;
  text-align: center;
  padding:1.6rem 0;
}
.collection-box-title h2{
  font-size: 2rem;
  font-weight: 800;
  color: white;
  background-color:rgba(53, 53, 53, 0.5);
}

/* popular section start here */
.popular-section{
  margin-top:5rem auto;

}
.popular-section h2{
  text-align: center;
  margin: 4rem;
  font-size: 2.5rem;
  font-weight: 500;
}
.popular-section h2 span{
  font-weight: 900;
}
.popular-wrapper{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin:2rem;
}
.popular-wrapper .box{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 2px solid rgb(199, 198, 198);
  border-radius: 8px;

  box-shadow :.1rem 0 .2rem .2rem rgb(248, 248, 248);
  padding: 1rem;
  
}
.popular-wrapper .box:hover{
  box-shadow:0 0 0 0  white;
  border:4px solid rgb(246, 246, 246);
  transition: all .3s linear;

}

.popular-wrapper .box h4{
  margin:1rem;
  font-size: 1.5rem;
  font-weight: 600;
  
}
.popular-wrapper .box h5{
  font-size: 1.2rem;
  font-weight: 500;
}


/* share link mobile and phone */


.share-app-wrapper{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 7rem 7rem;
}



.img-wrapper img {
  max-width: 300px;

}

.share-app-title{
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 300;
}
.share-app-link-details p{
    font-size: 1.5rem;
    margin-bottom: 1rem;
 width: 100%;
   
}

.input-bnt-section input{
  padding: .5rem ;
  border-radius:4px;
  margin-top:2rem;
  margin-bottom:2rem;
 

}
.input-bnt-section .share-btn{
  padding: .5rem;
  border-radius: 4px;
  background-color: rgb(254, 28, 96);
  border: none;

  color: white;

}
.sharelink-radio-btn{
  display:flex;
  flex-direction:row;
  align-items: center;
  gap: 1rem;
}

/* store */
.download-store{
  display: flex;
  flex-direction:row;
  gap: 2rem;
  margin-top: .8rem;
}
.store{
  width:250px;
  border: none;
  display: flex;
  flex-direction:row;
  background-color: rgb(20, 41, 20);
  padding:1rem;
  border-radius: 12px;


}
.store:hover{
  background-color: rgb(70, 5, 5);
  transition: all .3s linear;
}
.store h3{
  color:white;
}
.store h4,
.store h5{
  color: white;
}


/* explore box */
.share{
  background-color: rgba(227, 137, 167, 0.305);
  padding: 2rem;
}
.explore-wrapper{
  margin: 0 4rem;
}
.explore-wrapper h1{
  margin-top: 3rem;
  text-align: center;
  font-size: 2rem;
}
.explorebox-wrapper{
   display: flex;
   flex-direction: column;
   gap: 1.5rem;
   margin-top: 2rem;
}
.explore-box{
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  border: 2px solid gray;
  padding: 1rem;
  font-size: 1.2rem;
  border-radius: 8px;


}


/* footer */
.logo-country-language{
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  padding: .5rem;
}

.logo-country-language select{
  padding: .5rem;
  border-radius: 12px;
  margin-left: .6rem;
}
.logo-country-language h3{
  font-size: 2.6rem;
  color: black;
  font-weight: 900;
}
.footer-main-section{
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: space-between;
  color:gray;
 

}
.footer-main-section .first-section h1{
  text-transform: uppercase;
  margin: 1rem;
  
}
.footer-main-section .first-section h2{
  text-transform: capitalize;
  font-size: 1.2rem;
  margin-bottom: .5rem;
}
/* socials */
.socials{
  display: flex;
  flex-direction: row;
  gap: .6rem;
}
.footer{
  margin-top: 3rem;
  background-color: rgba(202, 212, 202, 0.208);
  padding: .8rem;
}

.app-download{
  background-color: rgb(45, 61, 45);
  color: aliceblue;
  display: flex;
  flex-direction:row;
  padding: .5rem;
  border-radius:4px;
  margin: .7rem 0;
  
}
/* media quries */
@media(max-width:1140px){
    .box-wrapper {
        grid-template-columns: repeat(2,1fr);
        gap: 1.5rem;

    
      }
      .collection-box-wrapper{
        grid-template-columns: repeat(2,1fr);
      }
}

@media(max-width:774px){
  .investor,
    .add-resturant{
      display: none;
    }
        .box-desc-wrapper-desc {
          display: none;
        }
      .box-wrapper {
        grid-template-columns: repeat(1,1fr);
     
        gap: 1.5rem 0;

      }

        .popular-wrapper{
          grid-template-columns: repeat(2,1fr);
        }
        .collection-des{
          
          display: none;
        }
        .share-app-wrapper{
          margin: 0 auto;
        }

        /* download store */
        .download-store{
          flex-direction: column;
          margin: 0 auto;
        }
              
}

@media(max-width:650px){
  
     .search-and-input {
       display: none;
     }
   
      .popular-wrapper {
        grid-template-columns: repeat(1, 1fr);
      }
        .poster-img-container img{
          height: 300px;
        }
        .section{
          margin-top: 15rem;
        }
              
     .collection-box-wrapper {
       grid-template-columns: repeat(1, 1fr);
       gap: 2rem;
     }
     .logo-country-language{
      flex-direction:column;
     }
         .first-section h1 {
           font-size: 1.9rem;
           text-decoration: underline;
         }
    
 
}

@media(max-width:450px){
 .profile-logo
{
display: none;
 
 }
 .zomato-big-logo{
  font-size: 1.2rem;
 }
    .first-section h1 {
      font-size: 1rem;
      text-decoration:underline ;
    }

}
@media(max-width:354px){
  .img-wrapper img{
    width: 250px;
  }
  .store{
    width: 200px;
  }
  .store-title h4{
      font-size: 1rem;
      
  }
  .store-title h5{
    font-size: .7rem;
  }

    .navbar-logo-section{
      font-size: 1rem;
    }
    .navbar-logo-section h1{
      font-size: 1rem;
    }
  
}